# Project properties
APP_NAME=your_value_here
SPRING_PROFILES_ACTIVE=your_value_here

# Database properties
DB_URL=your_value_here
DB_PORT=your_value_here
DB_NAME=your_value_here
DB_USERNAME=your_value_here
DB_PASSWORD=your_value_here

# CORS & Redirect
CORS_ALLOWED_ORIGINS=your_value_here
ALLOWED_REDIRECT_URIS=your_value_here